*{
	border:0;
	margin:0;
	padding:0;
	box-sizing: 0;
}
body{
	background: url("../img/fondo1.jpg");
	width:100%;
}
/*Fuente para titulos o encabezados*/
@font-face{
	font-family: "Chocolate otf";
	src: url("../fonts/Chocolate otf.otf");

}
/*fuente para parrafos o descripciones*/
@font-face{
	font-family: "Comfortaa-Regular";
	src: url("../fonts/Comfortaa-Regular.ttf");
}
/*Fuente para promociones/enlaces/llama a la acción*/
@font-face{
	font-family: "coolvetica rg";
	src: url("../fonts/coolvetica rg.otf");
}
/*smarth phones*/
@media only screen and (max-width:850px){
	.nav-bar{
		display:none;
	}
	header{
		position:sticky;
		top:-150px;
	}
	.nav-bar-smart{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 20px;
		grid-row: minmax(100px,200px);
		padding: 5px;
		background-color:#afdde9ff;
		align-self: start:
	}
	.logo{
		grid-row: 1;
		text-align: center;

	}
	.logo img{
			width:150px;
			height:150px;
	}
	.menu{
		display:grid;
		grid-template-columns: repeat(3,1fr);
		grid-column-gap: 20px;
	}

	.active{
		border-bottom: solid 6px #afdde9ff;
	}
	.op0{
		grid-column: 1/2;
		text-align: center;
	}
	.op1{
		grid-column: 2/3;
		text-align: center;
	}
	.op2{
		grid-column: 3/4;
		text-align: center;
	}
	.fa-clinic-medical, .fa-user-md, .fa-photo-video{
		color:#00002bff;
		font-size: 1.5em;
	}

	/*Contenedor smartphones*/
	.container{
		margin-top: 20px;
		padding:20px;
	}
	.intro{
		text-align:justify;
		font-size: 16px;
		padding: 10px;
		background-color: #fff9;
	}
	h1, h2, h3{
		font-family: "Chocolate otf";
		margin-top: 20px;
		text-align: center;
	}
	p{
		font-family:"Comfortaa-Regular";
	}
	.servicios{
		display: flex;
		flex-wrap:wrap;
		justify-content: center;
		margin:30px 0px 20px 0px;
		background-color: #fff8;
	}
	.enfermeras_aux img, .enfermeras_grals img, .coloca_suero img, .curaciones img{
		border-radius: 50%;

	}
	.enfermeras_aux, .enfermeras_grals, .coloca_suero, .curaciones{
		text-align: center;
		padding:20px;
	}
	figcaption, cite{
		font-family:"Comfortaa-Regular";
		text-align: justify;
	}
	.enfermeras_aux, .enfermeras_grals{
		animation-name: slidein ;
		animation-duration: 3s;
		animation-delay: max(1000, 2000);

	}
	@keyframes slidein{
		from{
			margin-left: 100%;
			width:300%;
		}
		to{
			margin-left: 0%;
			width:100%;
		}
	}

}

a{
	text-decoration: none;
	color: #00002bff;
	font-family:"coolvetica rg";
}
.fa-whatsapp{
	font-size: 45px;
	color:#00aa00;
}
.fa-paper-plane{
	font-size: 30px;
	color:#afdde9ff;
}
.fa-headset{
	font-size: 20px;
	color:#000035;
}
